.cards {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: aqua;
  padding: 10px;
  margin-bottom: 50px;
  border : solid 1px black;

 h2 {

 }
  h4 {

  }
  img {
    padding: 10px;


  }
  h3 {

  }
  p {

  }
}