* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  width: 100%;
  margin: 10px auto;
  height: 50px;
  background-color: greenyellow;
  cursor: pointer;
}
